@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-mav {
  display: flex;
  align-items: center;
}

.top-navigation {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 32px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  transform: scale(1); /* Стандартне значення масштабування */
  transition: transform 0.3s ease;
}

.style-logo {
  color: #2196F3;
}

.logo:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.02); /* Значення масштабування при наведенні */
}

.span-logo {
  color: #2196F3;
}

.nav {
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__nav-menu {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav > .nav__item {
  margin-left: 50px;
}

.animation {
  font-family: "Roboto", sans-serif;
  font-size: px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.animation:hover {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2196F3;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.animation:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  transform: scaleX(1);
}

.current {
  position: relative;
  color: #2196F3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
}

.info {
  display: flex;
  margin-left: auto;
}
.info__info-cont {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.info__info-cont:hover {
  color: #2196F3;
}
.info__info-icon {
  width: 16px;
  height: 12px;
  fill: black;
}

.info > .info__item {
  margin-left: 50px;
}

.info__header-svg {
  margin-right: 10px;
  fill: currentColor;
}

.advantages {
  padding-top: 94px;
}
.advantages__advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages__advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages__advantages-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages__advantages-list > .advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__adwanteg-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.advantages-icon {
  border-radius: 4px;
  background: #F5F4FA;
  text-align: center;
  align-items: center;
  padding: 30px 100px;
  margin: 0 0 30px 0px;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  max-width: 528px;
  width: 100%;
  min-height: 581px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #2196F3;
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.form-f {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-t {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  left: 51px;
}

.modal-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.checkbox {
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  fill: #212121;
}

.span {
  width: 400px;
  height: 24px;
  flex-shrink: 0;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.textarea {
  /* padding: 12px 16px; */
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  height: 96px;
  flex-shrink: 0;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-button {
  padding: 10px 52px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  border-radius: 4px;
  background: #188CE8;
}

.modal-button:hover,
.modal-button:focus {
  color: #2196F3;
  background-color: #fff;
}

.our-works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-works-list > .item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.our-works-bg {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-works-title {
  color: white;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.our-teem {
  background-color: #F5F4FA;
}

.our-teem-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.our-teem-list > .item {
  flex-basis: calc((100% - 90px) / 4);
}

.our-teem-title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-teem-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-teem-li {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 50px 0px;
  transform: scale(1); /* Стандартне значення масштабування */
  transition: transform 0.3s ease;
}

.our-teem-li:hover {
  transform: scale(1.1); /* Значення масштабування при наведенні */
  cursor: pointer;
  list-style: none;
}

.social-list {
  display: inline-flex;
  padding-bottom: 30px;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #fff;
}

.social-link:hover,
.social-link:focus {
  fill: white;
  background-color: #2196f3;
}

.social-item {
  width: 44px;
  height: 44px;
}

.clients {
  display: flex;
}

.clients-s {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 40px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
}

.filter-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.button-menu {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: var(--cursor-button);
  transform: scale(1); /* Стандартне значення масштабування */
  transition: transform 0.3s ease;
}

.button-menu:hover {
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  cursor: pointer;
  transform: scale(1.07); /* Значення масштабування при наведенні */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-menu:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #000000;
  font-family: Roboto;
}

.list-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  list-style: none;
}

.list-img-text {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  gap: 94px;
  margin-top: 20px;
  margin: 20px 24px;
  list-style: none;
}

.list-img-text-p {
  color: #757575;
  font-size: 16px;
  font-family: Roboto;
  line-height: 30px;
  letter-spacing: 0.48px;
  margin: 20px 24px;
}

.list-img li {
  list-style: none;
}

.list-li {
  border: 3px solid #eee;
  transform: scale(1); /* Стандартне значення масштабування */
  transition: transform 0.5s ease;
}

.list-li:hover {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.09); /* Значення масштабування при наведенні */
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфоліо */
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn > .item {
  margin-left: 8px;
}

.filter-btn {
  padding: 6px 24px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}

.filter-btn:hover,
.filter-btn:focus {
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list > .item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list > .item:hover,
.portfolio-list > .item:focus {
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  margin-top: 20px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  padding-bottom: 30px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.tex {
  width: 300px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  margin: -8px;
}

.logo-web {
  color: #2196f3;
}

.logo-footer {
  color: white;
}

.address {
  color: white;
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-cont {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.clickable-object {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.hidden-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease;
}

.clickable-object:hover .hidden-content {
  bottom: 0;
  opacity: 1;
}

.hidden-paragraph {
  color: white;
  font-size: 18px;
}

.p-anim {
  width: 322px;
  position: absolute;
  top: 63px;
  left: 24px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* Постійні клієнти */
.our-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-left: 0px;
}

.our-customers-list > .item {
  flex-basis: calc((100% - 180px) / 6);
  width: 170px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-list > .item:hover,
.our-customers-list > .item:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg:hover,
.customers-svg:focus {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

footer > .container {
  display: flex;
}

.widget-blok {
  flex-basis: calc(50% - 15px);
}

.span-footer {
  color: white;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}

.footer-contakt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-list-footer {
  display: flex;
  gap: 10px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  fill: white;
  background-color: #2196f3;
}

.footer-title {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-input {
  outline: none;
  cursor: pointer;
  width: 258px;
  padding: 15px 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input:focus-within {
  border-color: #2196F3;
}

.footer-btn {
  color: white;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  display: flex;
  gap: 10px;
  padding: 10px 28px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #2196F3;
  cursor: pointer;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  background-image: url("../images/eafect-busines.png");
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.hero-btn:hover .hero-btn:focus {
  background-color: #2196F3;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.animation-btn {
  transform: scale(1); /* Стандартне значення масштабування */
  transition: transform 0.3s ease;
}

.animation-btn:hover {
  transform: scale(1.05); /* Значення масштабування при наведенні */
}/*# sourceMappingURL=style.css.map */