body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .filter-list:not(:last-child) {
    margin-right: 8px;
  }
  .button-menu {
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: var(--cursor-button);
    transform: scale(1); /* Стандартне значення масштабування */
    transition: transform 0.3s ease;
  }
  .button-menu:hover{
    background-color: #2196F3;
    color: #FFF;
text-align: center;
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
transform: scale(1.07); /* Значення масштабування при наведенні */
cursor: pointer;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

  }
  .button-menu:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--accent-color);
  }


.list-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
  }

.list-img-text {
    display: flex;
    text-decoration: none;
flex-direction: column;
justify-content: center;
gap: 94px;
margin-top: 20px;
margin: 20px 24px;
list-style: none;
}

.list-img-text-p {
    color: #757575;
    font-size: 16px;
    font-family: Roboto;
    line-height: 30px;
    letter-spacing: 0.48px;
    margin: 20px 24px;
}
.list-img li {
    list-style: none;
}

.list-li {
    border: 1px solid #EEE ;
    transform: scale(1); /* Стандартне значення масштабування */
    transition: transform 0.3s ease;
}

.list-li:hover {
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.04); /* Значення масштабування при наведенні */
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  

.link:hover,
.link:focus {
    color: #2196f3;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */

.main-mav {
    display: flex;
    align-items: center;
}

.top-navigation {
    display: flex;
}

.logo {
    padding-top: 24px;
    padding-bottom: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;

    color: #000000;
}

.style-logo {
    color: #2196f3;
}

.nav {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: .02em;
}

.nav > .item {
    margin-left: 50px;
}

.animation {
    transform: scale(1); /* Стандартне значення масштабування */
    transition: transform 0.3s ease;
}
.animation:focus,
.animation:hover {
    color: #2196F3;
    transform: scale(1.04); /* Значення масштабування при наведенні */\
}

.nav-menu {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.current {
    position: relative;
    color: #2196F3;
}

.current::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
}


.info {
    display: flex;
    margin-left: auto;
}

.info > .item {
    margin-left: 50px;
}


.info-cont {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
}

/* Герой */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    max-width: 1600px;
    background-image:url('../images/eafect-busines.png');
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    text-align: center;  
}

.hero-title {
    margin: 0 auto 30px;
    max-width: 696px;
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-btn {
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
    border: transparent;
}

.hero-btn:hover .hero-btn:focus {
    background-color: #2195f3b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Наші переваги */
.advantages {
    padding-top: 94px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advantages-list > .item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantages-title {
    font-style: normal;
    font-weight: 700;

    font-size: 14px;
    line-height: 1.14;

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.advantages-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}
.advantages-icon {
    border-radius: 4px;
    background: #F5F4FA;
    text-align: center;
    align-items: center;
    padding: 30px 100px;
    margin: 0 0 30px 0px;
}

/* Чим ми займаємося  */
.our-works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-works-list > .item {
    flex-basis: calc((100% - 60px) / 3);
}

/* Наша команда */

.our-teem {
    background-color: #f5f4fa;
}

.our-teem-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.our-teem-list > .item {
    flex-basis: calc((100% - 90px) / 4);
}
.our-teem-title {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our-teem-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
 
    color: #757575;
}

  .our-teem-li {
    border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
margin: 50px 0px;
transform: scale(1); /* Стандартне значення масштабування */
transition: transform 0.3s ease;
  }

  .our-teem-li:hover {
    transform: scale(1.10); /* Значення масштабування при наведенні */
    cursor: pointer;
  }



/* Футер */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    margin: -8px;
}


.logo-web {
    color: #2196f3;
}
.logo-footer {
    color: #ffffff;
}

.address {
    color: #fff;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-cont {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
}