body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



ul {
    list-style: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link:hover,
.link:focus {
    color: #2196f3;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}