.hero {
    background-color: #2f303a;
    background-image: url('../images/eafect-busines.png');
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    @media screen and (min-width: 480px) {
        padding-top: 118px;
        max-width: 480px;
        padding-bottom: 118px;
        height: 480px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 118px;
        max-width: 768px;
        padding-bottom: 118px;
        height: 480px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        max-width: 1600px;
        padding-bottom: 200px;
        height: 600px;
    }

    &__hero-title {
        margin: 0 auto 30px;
        max-width: 696px;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;

        @media screen and (min-width: 480px) {
            font-size: 25px;
            width: 300px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 25px;
            width: 387px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 44px;
            width: 696px;
        }
    }
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
    border: transparent;

    @media screen and (min-width: 480px) {
        padding: 18px 24px 16px 24px;
     }
        
     @media screen and (min-width: 768px) {
        padding: 16px 24px;
    }
        
     @media screen and (min-width: 1200px) {
        padding: 10px 32px;
     }
}

.hero-btn:hover .hero-btn:focus {
    background-color: $acent-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.animation-btn {
    transform: scale(1); /* Стандартне значення масштабування */
    transition: transform 0.3s ease;
}

.animation-btn:hover {
    transform: scale(1.05); /* Значення масштабування при наведенні */
}