/* Постійні клієнти */
.our-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-left: 0px;
}

.our-customers-list > .item {
    flex-basis: calc((100% - 180px) / 6);
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;

    padding: 16px 32px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-list > .item:hover,
.our-customers-list > .item:focus {
    border-color: $acent-color;
    cursor: pointer;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-svg {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg:hover,
.customers-svg:focus {
    fill: $acent-color;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.clients-title {
    color: $minor-color;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}